{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme 2021/2022 - Gateway Criteria</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Risk review - risk management</h1>
            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                        <h1 class="heading-medium">
                          By 31 March 2022, will all registered pharmacy professionals working at the pharmacy have satisfactorily completed the CPPE risk management guide and passed the e-assessment?
                        </h1>
                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                              <div class="question2">
                              <h1 class="heading-medium">
                                By 31 March 2022, how many registered pharmacy professionals working at the pharmacy will have satisfactorily completed CPPE risk management guide and e-assessment?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    registered pharmacy professionals
                                  </label>

                                  </fieldset>
                              </div>
                              </div>
                              
                              <h1 class="heading-medium">
                                By 31 March 2022, will you have available at premises level a new risk review to include management to minimise the risk of transmission for COVID-19 as a new risk?
                              </h1>
                              <p>Contractors must record demonstrable risk minimisation actions that have been undertaken to mitigate this risk and any subsequent actions identified and demonstrably completed as a result of this reflection.</p>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q3-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q3-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q3-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q3-no">No</label>
                                </div>
                                </fieldset>
                              </div>

                              <br>

          <a class="button" href="gateway-risk-review2" role="button">Continue</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
