{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Respiratory</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Inhaler technique - page 2</h1>
            <hr>
            </header>
            <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">

                              <div class="question2">
                              <h1 class="heading-medium">
                                Between 1 September 2021 and the day of declaration how many patients, identified as having been prescribed an inhaler for the first time or changed to a new inhaler device between 1 April 2020 and 31 August 2021, were asked if they had an inhaler technique check during that time?
                              </h1>
                              <p>Enter 0 (zero) if no patients were asked if they had an inhaler technique check during that time.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                Of those who had not had an inhaler check during that time, how many were offered a catch-up NMS, including an inhaler technique check by the day of the declaration?
                              </h1>
                              <p>Enter 0 (zero) if no patients were offered a catch-up NMS by the day of the declaration.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                How many patients were subsequently provided with a catch-up NMS, including an inhaler technique check, either face-to-face or remotely by the day of the declaration?
                              </h1>
                              <p>Enter 0 (zero) if no patients were provided this service.</p>
                              <div class="form-group">
                                  <fieldset class="inline">
                                  
                                  <label class="govuk-label" for="width-3">
                                    Face-to-face
                                  </label>
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      
                                  </fieldset>
                              </div>
                              <div class="form-group">
                                  <fieldset class="inline">

                                  <label class="govuk-label" for="width-3">
                                    Remotely
                                  </label>
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      
                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                By the day of declaration how many of these patients were referred to their prescriber due to issues identified during catch-up NMS?
                              </h1>
                              <p>Enter 0 (zero) if no patients were referred.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>


                              <br>

          <a class="button" href="pqs-respiratory-3" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
