{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Respiratory</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Asthma / COPD</h1>
            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                        <h1 class="heading-medium">
                          On the day of the declaration, could you provide evidence for both of the following?
                        </h1>
                              <ul style="list-style: disc; margin-left: 30px; font-weight:bold; font-size:120%;">
                                <li>In line with NICE TA38, all children aged 5 to 15 dispensed inhaled press and breathe pMDI for asthma have a spacer device, where appropriate.</li>
                                <li>All patients aged 5 years and above with asthma have a personalised asthma action plan.</li>
                              </ul>

                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                  <div class="multiple-choice">
                                  <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal-two" aria-expanded="false"> <!-- unique name per question block -->
                                  <label for="radio-inline-q1-yes">Yes</label>
                                  </div>
                                  <div class="multiple-choice" data-target="wages-reveal">
                                  <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No" aria-controls="wages-reveal" aria-expanded="false"> <!-- both options here need same name -->
                                  <label for="radio-inline-q1-no">No</label>
                                  </div>
                                </fieldset>
                              </div>

                        <div class="panel panel-border-narrow js-hidden" id="wages-reveal" style="margin-top:25px; padding-top:0" aria-hidden="true">
                          <div class="question2">
                              <h1 class="heading-medium">
                          Can you provide evidence that pharmacy staff have referred patients with asthma to an appropriate healthcare professional where this is not the case?
                        </h1>

                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>

                          </div>

                            
                        </div>
                    </div>
                    

          <a class="button" href="pqs-respiratory-1" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
