{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme 2021/2022</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Primary Care Networks</h1>
            <h1 class="page-header--lede heading-medium" style="margin-bottom: 5px; color:blue">PCN Lead Journey</h1>
            <h1 class="page-header--lede heading-medium" style="margin-bottom: 5px;">Influenza vaccination programme</h1>
            <hr>
            </header>
            

        <form class="form"> <!-- wrapped both questions inside <form> -->
        
                              <div class="question2">
                              <h1 class="heading-medium">
                                Tell us which pharmacies engaged in the process for increasing the uptake of flu vaccination to patients aged 65 and over. (This means they engaged in the process and vaccinated patients) 
                              </h1>
                              <p style="font-weight:light; font-size:100%">Enter one ODS code at a time. We will give you the option to add more if needed.</p>
        
                              <div class="form-group">
                                  <fieldset class="inline">
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                  </label>
                                  </fieldset>
                              </div>
                              </div>


                              <br>

          <a class="button" href="pqs-pcn-lead-journey-2" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
