{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Healthy living support</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Weight management - page 3</h1>

            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                            <h1 class="heading-medium">
                              By 31 March 2022, will you be able to confirm that you have available, at premises level, a new or updated (for 2021/22) weight management action plan on how to assist a person who would like support with their weight, with demonstrable evidence of completion?
                            </h1>

                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                By the day of declaration how many patients have had their BMI calculated and waist circumference measured, including having an explanation of the definition of BMI and the potential health impact of each?
                              </h1>
                              <p>Enter 0 (zero) if you have not referred any patients.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                By the day of declaration how many patients have been referred to Local Authority funded tier 2 weight management services?
                              </h1>
                               <p>Enter 0 (zero) if you have not referred any patients.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                By the day of the declaration how many patients have been referred to the NHS Digital Weight Management Programme for those with hypertension or diabetes?
                              </h1>
                              <p>Enter 0 (zero) if you have not referred any patients.</p>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>

                              <div class="question2">
                              <h1 class="heading-medium">
                                If no referrals have been made to Local Authority funded tier 2 weight management services or the NHS Digital Weight Management Programme for those with hypertension or diabetes by the day of declaration, do you wish to claim for the referral payment as you intend to make at least one referral by 31 March 2022?
                              </h1>
                              <p>(Evidence of a referral will need to be available for post-payment verification by the 30 June 2022. If this evidence is not provided on request, then this payment will be recovered by the NHSBSA).</p>
                              </div>
                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">Not applicable, I have already referred patients.</label>
                                </div>
                                </fieldset>
                            </div>
                              <br>

          <a class="button" href="pqs-hls-cya" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
