{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme 2021/2022</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Respiratory</h1>
            <h1 class="page-header--lede heading-medium" style="margin-bottom: 5px;">Asthma / COPD</h1>
            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">

                            <div class="question2">
                              <h1 class="heading-medium">
                                In line with NICE TA38, how many children aged 5 to 15 have a spacer device, where appropriate?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    children
                                  </label>

                                  </fieldset>
                              </div>
                              </div>
                              
                              <div class="question2">
                              <h1 class="heading-medium">
                                How many patients aged 5 years and above with asthma have a personalised asthma action plan?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>

                                  </fieldset>
                              </div>
                              </div>




                              <br>

          <a class="button" href="pqs-respiratory-2" role="button">Continue</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
