{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme 2021/2022</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">IPC and AMR stewardship</h1>
            <hr>
            </header>


        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                        <h1 class="heading-medium">
                          Did you declare as having met the Infection prevention & control and antimicrobial stewardship domain for last year’s PQS Part 2 (2020/21)?
                        </h1>

                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                  <div class="multiple-choice">
                                  <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal-two" aria-expanded="false"> <!-- unique name per question block -->
                                  <label for="radio-inline-q1-yes">Yes</label>
                                  </div>
                                  <div class="multiple-choice" data-target="wages-reveal">
                                  <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No" aria-controls="wages-reveal" aria-expanded="false"> <!-- both options here need same name -->
                                  <label for="radio-inline-q1-no">No</label>
                                  </div>
                                </fieldset>
                              </div>

                        <div class="panel panel-border-narrow js-hidden" id="wages-reveal" style="margin-top:25px; padding-top:0" aria-hidden="true">
                          <div class="question2">
                              <h1 class="heading-medium">
                                Have all non-registered pharmacy staff at your pharmacy satisfactorily completed the Level 1 e-learning and assessment?
                              </h1>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                          </div>
<br>
                            <div class="question3">
                              <h1 class="heading-medium">
                                How many non-registered pharmacy staff have satisfactorily completed the Level 1 e-learning and assessment?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f2" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                          staff
                                      </label>
                                  </fieldset>
                              </div>
                            </div>
<br>                          
                            <div class="question2">
                              <h1 class="heading-medium">
                                Have all registered pharmacy professionals at your pharmacy satisfactorily completed the Level 2 e-learning and assessment?
                              </h1>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                          </div>
<br>
                            <div class="question3">
                              <h1 class="heading-medium">
                                How many registered pharmacy professionals have satisfactorily completed the Level 2 e-learning and assessment?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f2" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                          registered pharmacy professionals
                                      </label>
                                  </fieldset>
                              </div>
                            </div>
<br>
                          <div class="question2">
                              <h1 class="heading-medium">
                                Have all patient-facing pharmacy staff working at the pharmacy satisfactorily completed the PHE Antimicrobial Stewardship for Community Pharmacy e-learning and e-assessment
                              </h1>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                          </div>
<br>
                            <div class="question3">
                              <h1 class="heading-medium">
                                How many patient-facing pharmacy staff working at the pharmacy have satisfactorily completed the PHE Antimicrobial Stewardship for Community Pharmacy e-learning and e-assessment?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f2" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                          staff
                                      </label>
                                  </fieldset>
                              </div>
                            </div>
<br>
                            <div class="question2">
                              <h1 class="heading-medium">
                                Do you confirm that you have completed, at premises level, an antimicrobial stewardship (AMS) action plan for the pharmacy, and have implemented changes to further promote AMS in your day-to-day practice?
                              </h1>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                          </div>
<br>
                            <div class="question2">
                              <h1 class="heading-medium">
                               Have all patient-facing staff that provide health advice have become Antibiotic Guardians, having an awareness of the local antibiotic formulary?
                              </h1>
                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                          </div>
<br>
                            <div class="question3">
                              <h1 class="heading-medium">
                                How many patient-facing staff that provide health advice have become Antibiotic Guardians and have an awareness of the local antibiotic formulary?
                              </h1>
                              <div class="form-group">
                                  <fieldset class="inline">
                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f2" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                          staff
                                      </label>
                                  </fieldset>
                              </div>
                            </div>

                        </div>

                        <h1 class="page-header--lede heading-medium" style="margin-bottom: 5px; color:red">If yes</h1>

                        <h1 class="heading-medium">
                          Can you confirm that on the day of the declaration, you have reviewed and updated your existing AMS action plan at premises level and have implemented changes to further promote AMS in your day-to-day practice?
                        </h1>

                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>


                    </div>
                    
<br>
          <a class="button" href="pqs-ipcamr-cya" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
