{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Medicines safety and optimisation</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">High risk medicines - anticoagulation audit</h1>
            <hr>
            </header>

            <h1 class="page-header--lede heading-medium" style="margin-bottom: 5px;">Extension to complete activity and collate evidence</h1>
            <p>The date to complete PQS activity for this domain has been extended to 31 March 2022, with the date to collate any required evidence extended to 30 June 2022.</p>
            <hr>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                        <h1 class="heading-medium">
                          By 31 March 2022, will you have implemented the findings and recommendations from the 2017 Specialist Pharmacy Service clinical audit on anticoagulants into your day-to-day practice? 
                        </h1>
                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                              
                              
                              <h1 class="heading-medium">
                                By 31 March 2022, will the revised audit detailed in the NHS England and NHS Improvement PQS 2021/22 guidance have been completed for your pharmacy? 
                              </h1>
                              <p>This should include:</p>
                              <ul style="list-style: disc; margin-left: 30px;">
                                <li>notifying the patient’s GP where concerns are identified</li>
                                <li>sharing your anonymised data with NHS England and NHS Improvement by submitting this data via MYS, or if you have not identified any eligible patients during the audit period, sending an email to the NHSBSA Provider Assurance Team before making your declaration for a PQS payment, as detailed in the guidance</li>
                                <li>incorporating any learning from the audit into future practice</li>
                              </ul>

                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q3-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="niceta38" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q3-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q3-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q3-no">No</label>
                                </div>
                                </fieldset>
                              </div>

                    <div class="question23">

                        <div class="panel panel-border-narrow js-hidden" id="niceta38" style="margin-top:25px; padding-top:0" aria-hidden="true">
                          <div class="question2">
                              <h1 class="heading-medium">
                          What date did you begin your audit?

                              </h1>
                              <p>For example, 30 3 2021</p>
 

                              <div class="nhsuk-date-input" id="example">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                      Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                      Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                      Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                              </div>



                          <h1 class="heading-medium">
                          What date did you finish your audit?
                          </h1>
                              <p>For example, 30 3 2021</p>

                              <div class="nhsuk-date-input" id="example">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                      Day
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                      Month
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                      Year
                                    </label>
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                </div>
                              </div>


                        </div>

                    </div>
                    
          <a class="button" href="pqs-medical-safety-optimisation-cya" role="button">Continue</a>
          </form>
        </div>
          </div>
      </div>
  </div>

</main>

{% endblock %}
