{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Primary Care Networks</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Non-PCN Lead</h1>
            </header>
           
        <form class="form"> <!-- wrapped both questions inside <form> -->
       
          <div class="question1">
                            <h1 class="heading-medium">
                              Following agreement with your NHS England & NHS Improvement regional team, have you engaged with the other pharmacies in your area to increase the uptake of flu vaccinations to patients aged 65 and over?
                            </h1>

                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                            
                              <div class="question2">
                              <h1 class="heading-medium">
                                How many eligible people has your pharmacy vaccinated under the community pharmacy seasonal influenza vaccination advanced service between 1 September 2021 and 31 January 2022?
                              </h1>
                              
                              <p>You need to have administered 30 or more vaccinations to qualify for the vaccinations payment.</p>
                              <p style="font-weight:light; font-size:100%">(If your pharmacy does not provide a flu vaccination service, key in 0 (zero) patients. You will only be entitled to claim the points related to the PCN leadership for this domain, not the points for contributing to the increase in uptake of flu vaccinations.)</p>
        
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    patients
                                  </label>
                                  </fieldset>
                              </div>
                              </div>

                              <br>

          <a class="button" href="pqs-non-pcn-lead-journey-11" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
