{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Medicines safety and optimisation</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">High risk medicines - anticoagulation audit</h1>
            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->
          <div class="question1">
                        <h1 class="heading-medium">
                          On the day of the declaration, have you implemented the findings and recommendations from the 2017 Specialist Pharmacy Service clinical audit on anticoagulants into your day-to-day practice?
                        </h1>
                            <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q1-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q1-no">No</label>
                                </div>
                                </fieldset>
                            </div>
                              
                              
                              <h1 class="heading-medium">
                                On the day of the declaration, has the revised audit detailed in the PQS 2021/2 guidance been completed for your pharmacy?
                              </h1>
                              <p>This should include:</p>
                              <ul style="list-style: disc; margin-left: 30px;">
                                <li>notifying the patient’s GP where concerns are identified</li>
                                <li>sharing your anonymised data with NHS England and NHS Improvement by submitting this data via MYS, or if you have not identified any eligible patients during the audit period, sending an email to the NHSBSA Provider Assurance Team before making your declaration for a PQS payment, as detailed in the NHS England PQS guidance</li>
                                <li>incorporating any learning from the audit into future practice</li>
                              </ul>

                              <div class="form-group">
                                <fieldset class="inline">
                                <legend class="visually-hidden"></legend>
                                <div class="multiple-choice">
                                <input id="radio-inline-q3-yes" type="radio" name="radioInlineGroup" value="Yes" aria-controls="wages-reveal" aria-expanded="false"> <!-- unique name per question block -->
                                <label for="radio-inline-q3-yes">Yes</label>
                                </div>
                                <div class="multiple-choice" data-target="wages-reveal-two">
                                <input id="radio-inline-q3-no" type="radio" name="radioInlineGroup" value="No"aria-expanded="false"> <!-- both options here need same name -->
                                <label for="radio-inline-q3-no">No</label>
                                </div>
                                </fieldset>
                              </div>

                              <br>

          <a class="button" href="pqs-medical-safety-optimisation-cya" role="button">Continue</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
