{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a class="active" href="index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="cpcs">Community Pharmacy Consultation Service</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
                            <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a href="qps">Pharmacy Quality Scheme</a></li>              
              <li><a href="nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
              <li><a href="cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
              <li><a class="active" href="cpaf-questionnaire/cpafq">Community Pharmacy Assurance Framework pre-visit questionnaire</a></li>
            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <h1 class="heading-xlarge">
                {% if serviceName %} {{ serviceName }} {% endif %}
              </h1>
        
              <p>Use this service to:</p>
        
              <ul class="list list-bullet">
                <li>do something</li>
                <li>update your name, address or other details</li>
                <li>you need to do this in order to do something else</li>
              </uL>
        
              <p>Registering takes around 5 minutes.</p>
        
              <p>
                <a class="button button-start" href="#" role="button">Start now</a>
              </p>
        
              <h2 class="heading-medium">Before you start</h2>
        
              <p>You can also <a href="#">register by post.</a></p>
        
              <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>
        
              <p>You can’t register for this service if you’re in the UK illegally.</p>
        
            </div>
            <div class="column-third">
        
              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Subsection</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">
                    <li><a href="#">Related link</a></li>
                    <li><a href="#">Related link</a></li>
                    <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
                  </ul>
                </nav>
              </aside>
        
            </div>
          </div>
        


      </div>
  </div>

</main>

{% endblock %}
