{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
                  <ul>
                    <li>
                      <a href="../index" class="active">Dashboard</a>
                    </li>
                    </ul>
                  </div>

      </div>
      <div class="main-content">




              <h1 class="heading-xlarge">
                Appliance Contractors
              </h1>




                  <div class="nhsuk-grid-row nhsuk-promo-group">

                      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                          <div class="nhsuk-promo nhsuk-promo--small">
                            <a class="nhsuk-promo__link-wrapper" href="aur/aur-start">
                              <div class="nhsuk-promo__content">
                                <h3 class="nhsuk-promo__heading">AUR submission</h3>
                                <p class="nhsuk-promo__description">Appliance use review submission</p>
                              </div>
                            </a>
                          </div>
                      </div>

                                  </div>


                </div>

              </div>

</main>

{% endblock %}
