{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <a href="../index">Dashboard</a>
          </li>
          <li>
            <a href="../prescriptions">Prescriptions</a>
          </li>
          <li>
            <a href="../advanced-services">Advanced Services</a>
          </li>
          <li>
            <a href="../audits-questionnaires" class="active">Audits and questionnaires</a>
          </li>
          </ul>
        </div>
    </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">
            <header class="page-header" style="clear: none; display: block;">
            <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme</p>
            <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Prevention</h1>
            <hr>
            </header>

        <form class="form"> <!-- wrapped both questions inside <form> -->


                  <div class="question4">
                    <h1 class="heading-medium">
                      On the day of the declaration, have 80% of registered pharmacy professionals working at the pharmacy satisfactorily completed sections 1 and 3 of the ‘CPPE Weight management for adults: understanding the management of obesity’ training and assessment, available on the CPPE website?
                    </h1>
                    <span class="form-hint">Registered pharmacy professionals include pharmacists, provisionally registered pharmacists, pharmacy technicians and locum pharmacists.</span>
                    <br>                    <span class="form-hint">You can include any new staff, or those returning to work after long term leave, if there is a training plan in place to make sure they complete the training within 30 days of the date of the declaration.</span>
                    <div class="form-group">
                            <fieldset class="inline">
                            <legend class="visually-hidden"></legend>
                            <div class="multiple-choice" data-target="wages-reveal-three">
                            <input id="radio-inline-q4-yes" type="radio" name="radioInlineGroupFour" value="Yes"> <!-- unique name per question block -->
                            <label for="radio-inline-q4-yes">Yes</label>
                            </div>
                            <div class="multiple-choice">
                            <input id="radio-inline-q4-no" type="radio" name="radioInlineGroupFour" value="No"> <!-- both options here need same name -->
                            <label for="radio-inline-q4-no">No</label>
                            </div>
                            </fieldset>
                        </div>
                    <div class="panel panel-border-narrow js-hidden" id="wages-reveal-three" style="margin-top:25px; padding-top:0" aria-hidden="true">
                          <div class="question6">
                          <h1 class="heading-medium">
                            How many registered professionals have satisfactorily completed sections 1 and 3 of the ‘CPPE Weight management for adults: understanding the management of obesity’ training and assessment?
                          </h1>
                              <div class="form-group">
                                  <fieldset class="inline">

                                      <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:100px;">
                                      <label class="govuk-label" for="width-3">
                                    staff
                                  </label>

                                  </fieldset>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="question5">
                  <h1 class="heading-medium">
On the day of the declaration do you have, at premises level, a copy of the personalised certificate provided on completion of the Weight management training and assessment for any member of staff who does not have a training plan?                  </h1>
                  <div class="form-group">
                  <fieldset class="inline">
                          <legend class="visually-hidden"></legend>
                          <div class="multiple-choice">
                          <input id="radio-inline-q5-yes" type="radio" name="radioInlineGroupThree" value="Yes"> <!-- unique name per question block -->
                          <label for="radio-inline-q5-yes">Yes</label>
                          </div>
                          <div class="multiple-choice">
                          <input id="radio-inline-q5-no" type="radio" name="radioInlineGroupThree" value="No"> <!-- both options here need same name -->
                          <label for="radio-inline-q5-no">No</label>
                          </div>
                          </fieldset>
                      </div>
              </div>

          <a class="button" href="pqs-prevention3" role="button">Continue</a>
          <a class="button" href="#" role="button" style="background-color: #005EA5">Save and continue later</a>
          </form>
        </div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
