{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index2">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">

              <header class="page-header" style="clear: none; display: block;">
                  <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Community Seasonal Influenza Vaccination Service</h1>
                  <p class="page-header--sub heading-secondary">2020/21 submission</p>
                  <hr>
              </header>

              <p class="lede">The seasons runs from [date] to [date].</p>

              <h2 class="heading-medium">What is the end date for the claim?</h2>

              <div class="form-group">

                  <label class="form-label" for="start-date">
                      <span class="heading-small">Start date</span>
                  </label>

                  <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">For example, 01 09 2018</p>

                  <div class="form-date">

                      <div class="form-group form-group-day">
                          <label class="form-label" for="dob-day">Day</label>
                          <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31">
                      </div>

                      <div class="form-group form-group-month">
                          <label class="form-label" for="dob-month">Month</label>
                          <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
                      </div>

                      <div class="form-group form-group-year">
                          <label class="form-label" for="dob-year">Year</label>
                          <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
                      </div>
                  </div>

              </div>

              <a class="button" href="flu-submission" role="button">Continue</a>


























          </div>



      </div>
  </div>



      </div>
  </div>

</main>

{% endblock %}
