{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
                        <li>
              <a href="ppc-start" class="active">PPC sales</a>
            </li>

            </ul>
          </div>

      </div>
      <div class="main-content">
              <div class="grid-row">
                  <div class="column-two-thirds">
            <a href="javascript:history.back()" class="link-back">Back</a>


        <h1 class="heading-large">Sell a Prescription Prepayment Certificate (PPC)</h1>
        <br>

         <p>You can help your patients save money on NHS prescriptions by selling them a PPC.</p>

         <p>They can pay a set price for unlimited prescriptions for either 3 or 12 months.</p>

         <p>The cost of prepaying is:
         <ul style="list-style: disc; margin-left: 30px;">
         <li>£29.65 for 3 months</li>
         <li>£105.90 for 12 months</li>
         </ul>
         </p>


         <p>After payment, we can send the certificate details to your patient by email or text, or you can print them yourself.</p>


         <p>Your patient needs to show their certificate details when they collect their prescription. They can use it straight away if they start it from today.</p>
    <p><a class="button button-start" href="ppc-patient-info" role="button">Start now</a></p>
  </div>
  </div>
  </div>

</main>

{% endblock %}
