{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
                        <li>
              <a href="ppc/ppc-start" class="active">PPC sales</a>
            </li>

            </ul>
          </div>

      </div>
      <div class="main-content">
              <div class="grid-row">
                  <div class="column-two-thirds">

            <a href="javascript:history.back()" class="link-back">Back</a>

        <h1 class="heading-large">Sell a Prescription Prepayment Certificate (PPC)</h2>
        <br>

        <h2 class="heading-medium"><a href="ppc-start2">Iteration 1</a></h1>
        <br>
        <p> Questions over two pages, less hint text</p>


        <h2 class="heading-medium"><a href="ppc-start3">Iteration 2</a></h1>
        <br>
        <p>Questions over three pages, more hint text around the valid start dates for certificates, and a separate page for the certificate options.  This will ensure the pharmacist can properly make sure the customer understands what their options for receiving their certificate details are.</p>

  </div>
  </div>
  </div>

</main>

{% endblock %}
