{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="index2">Dashboard</a>
            </li>
            <li>
              <a href="pharmacy-services">Pharmacy services</a>
            </li>
            <li>
              <a href="advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="audits-questionnaires" class="active">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">

                <header class="page-header" style="clear: none; display: block;">
                    <p class="page-header--sub heading-secondary">2020/21</p>
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Oral anticoagulant safety Audit</h1>
                    <hr>
                </header>

              <p>To meet the requirements for this audit you must collect data for 4 weeks, or until you have reached 30 patients, whichever comes first</p>
              <p>You do not need to input all entries at once.  You can save your audit after adding each patient</p>


              <br><br>
              <a class="button button-start" href="aca-start-date.html" role="button">Start now</a>






















          </div>



      </div>





















          </div>



      </div>
  </div>

</main>

{% endblock %}
