{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="index2">Dashboard</a>
            </li>
            <li>
              <a href="prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


        <h1 class="heading-large">Advanced services</h1>
        <br>
        <div class="nhsuk-grid-row nhsuk-promo-group">

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Community Pharmacist Consultation Service
</h3>
                      <p class="nhsuk-promo__description">Submit urgent medicines and minor illness consultations</p>
                    </div>
                  </a>
                </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="../flu-index.html">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Flu Submission</h3>
                      <p class="nhsuk-promo__description">Claim for flu vaccinations</p>
                    </div>
                  </a>
                </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="advanced/hep-c.html">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Hepatitis C Tests</h3>
                      <p class="nhsuk-promo__description">Submit numbers of Hep C tests</p>
                    </div>
                  </a>
                </div>
            </div>


                        </div>























          </div>



      </div>
  </div>

</main>

{% endblock %}
