{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            <li>
              <a href="../pharmacy-services">Pharmacy services</a>
            </li>
            <li>
              <a href="../advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">
          <div class="grid-row">
            <div class="column-two-thirds">


              <header class="page-header" style="clear: none; display: block;">
                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Anticoagulant audit Design</h1>
                <hr>
            </header>

            <h2 class="heading-large">working user flow</h2>

            <li><a href="aca-start.html">Version 1</a></li>

            <h2 class="heading-medium">condensed user flow</h2>

            <li><a href="aca-start2.html">Version 1</a></li>





</div>
</div>


















          </div>



      </div>
  </div>

</main>

{% endblock %}
