{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="index2">Dashboard</a>
            </li>
            <li>
              <a href="pharmacy-services">Pharmacy services</a>
            </li>
            <li>
              <a href="advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="audits-questionnaires" class="active">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


        <h1 class="heading-large">Audits and questionnaires</h1>
        <br>
        <div class="nhsuk-grid-row nhsuk-promo-group">

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="pqs2021/pqs">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Pharmacy Quality Scheme 2020/21</h3>
                    <p class="nhsuk-promo__description">Claim an aspirational payment for PQS.</p>
                  </div>
                </a>
              </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Non-steroidal anti-inflammatory drug audit</h3>
                    <p class="nhsuk-promo__description">Complete your NSAID audit for 2019.</p>
                  </div>
                </a>
              </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo--small">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Community Pharmacy Assurance Framework</h3>
                    <p class="nhsuk-promo__description">CPAF Pre-screening questionnaire - 20 questions</p>
                  </div>
                </a>
              </div>
          </div>

                      </div>

                      <div class="nhsuk-grid-row nhsuk-promo-group">

                        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                            <div class="nhsuk-promo nhsuk-promo--small">
                              <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                                <div class="nhsuk-promo__content">
                                  <h3 class="nhsuk-promo__heading">Community Pharmacy Assurance Framework</h3>
                                  <p class="nhsuk-promo__description">CPAF Pre-visit questionnaire - 212 questions</p>
                                </div>
                              </a>
                            </div>
                        </div>

                        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                            <div class="nhsuk-promo nhsuk-promo--small">
                              <a class="nhsuk-promo__link-wrapper" href="anticoagulant-audit">
                                <div class="nhsuk-promo__content">
                                  <h3 class="nhsuk-promo__heading">Oral anticoagulant safety audit</h3>
                                  <p class="nhsuk-promo__description">Complete your Community Pharmacy PQS oral anticoagulant safety audit for 2020/21</p>
                                </div>
                              </a>
                            </div>
                        </div>

                                        </div>





















          </div>



      </div>
  </div>

</main>

{% endblock %}
