{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index2">Dashboard</a>
            </li>
            <li>
              <a href="../pharmacy-services" class="active">Pharmacy services</a>
            </li>
            <li>
              <a href="../advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


                <div class="phase-banner">
                    <p>
                    <strong class="phase-tag">BETA</strong>
                    This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
                    </p>
                  </div>

                  <a href="javascript:history.back()" class="link-back">Back</a>

                <div class="grid-row">
                  <div class="column-two-thirds">

                      <header class="page-header" style="clear: none; display: block;">
                          <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Discharge medicines service (DMS)</h1>

                      </header><br><br>

                      <h2 class="heading-medium" style="margin-top:0px;">Separate stage submission</h2>

                      <br>

                        <a class="button button-start" href="dms/dms-start.html">start page</a>

                        <br><br>

                       <h2 class="heading-medium">Full patient submission</h2>

                       <br>

                         <a class="button button-start" href="dms2/dms-start.html">start page</a>














                </div>



            </div>
        </div>
  </div>




</main>

{% endblock %}
