{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="index2">Dashboard</a>
            </li>
            <li>
              <a href="prescriptions" class="active">Prescriptions</a>
            </li>
            <li>
              <a href="advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


        <h1 class="heading-large">Prescriptions</h1>
        <br>
        <div class="nhsuk-grid-row nhsuk-promo-group">
    
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Prescription submissions (FP34C)</h3>
                      <p class="nhsuk-promo__description">Your monthly submission</p>
                    </div>
                  </a>
                </div>
            </div>
          
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Unpaid items</h3>
                      <p class="nhsuk-promo__description">We can't pay these items until you add missing information</p>
                    </div>
                  </a>
                </div>
            </div>
                          
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Disallowed items</h3>
                      <p class="nhsuk-promo__description">Items that cannot be paid</p>
                    </div>
                  </a>
                </div>
            </div>
                        
                        </div>

                                <div class="nhsuk-grid-row nhsuk-promo-group">
            
    
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Prescription image request (FP34C)</h3>
                      <p class="nhsuk-promo__description">Request images of previously submitted prescriptions</p>
                    </div>
                  </a>
                </div>
            </div>
          
                        
                        </div>






















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
