{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="index2">Dashboard</a>
            </li>
            <li>
              <a href="pharmacy-services" class="active">Pharmacy services</a>
            </li>
            <li>
              <a href="advanced-services">Advanced Services</a>
            </li>
            <li>
              <a href="audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">

        <header class="page-header" style="clear: none; display: block;">
          <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Unpaid/Disallowed items</h1>
          <hr>
      </header>

      <div class="grid-row">
        <div class="column-two-thirds">
      <h2 class="heading-large">Month  view</h2>

      <div class="submissions" style="padding: 0;">
                  <table class="data-table assets-summary check-your-answers">
                    <tbody><tr>
                      <td><span class="strong">Month</span></td>
                      <td><span class="strong">Unpaid items</span></td>
                      <td><span class="strong">Disallowed items</span></td>
                    </tr>
                    <tr>
                      <td>September</td>
                      <td><a href="rb-da-september-rb.html" style="text-decoration: underline;">2</a></td>
                      <td><a href="rb-da-september-da.html" style="text-decoration: underline;">4</a></td>
                      <td style="text-align:right; padding-right:0;"></td>
                    </tr>
                    <tr>
                      <td>August</td>
                      <td>6</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>3</td>
                      <td>5</td>
                    </tr>
                    <tr>
                  </tr></tbody></table>
                </div>

</div>
</div>



















          </div>



      </div>
  </div>

</main>

{% endblock %}
