
{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
            <ul>
                <li>
                    <h3 class="heading-small">Dashboard</h3>
                  </li>
                  <div id="options" class="options">
                    <li><a href="/pharmacy/index">View summary</a></li>
                  </div>
              <li>
                <h3 class="heading-small">Prescriptions</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/fp34c">Prescription submissions (FP34C)</a></li>

                <li><a href="/pharmacy/unpaid">Unpaid items</a></li>
                <li><a href="/pharmacy/disallowed">Disallowed items</a></li>
                <li><a href="/pharmacy/pir">Prescription image request</a></li>
              </div>
              <li>
                <h3 class="heading-small">Advanced services</h3>
              </li>
              <div id="options" class="options">
                <li><a class="active" href="/pharmacy/cpcs">Community Pharmacist Consultation Service
</a></li>
                <li><a href="/pharmacy/flu">Flu submission</a></li>
              </div>
              <li>
                <h3 class="heading-small">Surveys</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/qps">Pharmacy Quality Scheme</a></li>                
                <li><a href="/pharmacy/nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
                <li><a href="/pharmacy/cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
                <li><a href="/pharmacy/cpaf-questionnaire/cpafq">Community Pharmacy Assurance Framework pre-visit questionnaire</a></li>

              </div>
            </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
                  <header class="page-header" style="clear: none; display: block;">
                        <p class="page-header--sub heading-secondary">Pharmacy Quality Scheme</p>                
                        <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">February 2020 Declaration</h1>                    
                        <hr>
                    </header>
                        
                <h2 class="heading-medium">
                  Domain 3 - prevention
               </h2>
               <p>You will not be paid for this domain based on the answers you've given.</p>
               <dl class="govuk-check-your-answers cya-questions-short">
                  <div>
                     <dt class="cya-question">
                        all patient facing staff dementia friends?
                     </dt>
                     <dd class="cya-answer">
                        No
                     </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change<span class="visually-hidden"> answer</span>
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                           Completed dementia friendly environment checklist?
                        </dt>
                     <dd class="cya-answer">
                           Yes
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                           Is the pharmacy a healthy living level 1 pharmacy?
                     </dt>
                     <dd class="cya-answer">
                           No
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Do you sell sugar sweetened beverages?
                     </dt>
                     <dd class="cya-answer">
                           Yes
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Do the sales of sugar sweetened beverages account for less than 10% by volume of all beverages sold?
                     </dt>
                     <dd class="cya-answer">
                           No
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients with diabetes seen
                     </dt>
                     <dd class="cya-answer">
                           37
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that discussed their diabetes with staff
                     </dt>
                     <dd class="cya-answer">
                           3
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients with did not discuss their diabetes with staff
                     </dt>
                     <dd class="cya-answer">
                           4
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that couldn't be contacted
                     </dt>
                     <dd class="cya-answer">
                           5
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that have had a retinopathy screen
                     </dt>
                     <dd class="cya-answer">
                           2
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that have had a foot check
                     </dt>
                     <dd class="cya-answer">
                           8
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that have not had a retinopathy screen
                     </dt>
                     <dd class="cya-answer">
                           21
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that have not had a foot check
                     </dt>
                     <dd class="cya-answer">
                           3
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients that don't know if they've had any checks
                     </dt>
                     <dd class="cya-answer">
                           0
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients referred for retinopathy screening
                     </dt>
                     <dd class="cya-answer">
                           21
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients referred for foot checks
                     </dt>
                     <dd class="cya-answer">
                           3
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
                  <div>
                     <dt class="cya-question">
                        Number of patients referred because they don't remember having any checks
                     </dt>
                     <dd class="cya-answer">
                           0
                        </dd>
                     <dd class="cya-change">
                        <a href="#">
                        Change
                        </a>
                     </dd>
                  </div>
               </dl>
                           <br><br>                       
               <a class="button" href="pqs-tasklist2.html" role="button">Continue</a>



      </div>
  </div>

</main>

{% endblock %}
