{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    .results-per-page a:hover, .pagination a:hover {
      color: inherit !important;
      text-decoration: underline !important;
    }
    </style>

<main id="content" role="main">

  <div class="sidebar-layout">
    <div class="sidebar-content">

      <div class="side-nav">
        <ul>
          <li>
            <h3 class="heading-small">Reports</h3>
          </li>
          <div id="options" class="options">
            <li><a href="reports">Download monthly reports</a></li>
          </div>
          <li>
            <h3 class="heading-small">Prescription images</h3>
          </li>
          <div id="options" class="options">
            <li><a href="pir">Request an image</a></li>
          </div>
          <li>
            <h3 class="heading-small">Payment information</h3>
          </li>
          <div id="options" class="options">
            <li><a class="active" href="payment">View payment schedules</a></li>
          </div>
          <li>
            <h3 class="heading-small">User management</h3>
          </li>
          <div id="options" class="options">
            <li><a href="list-users">Manage users</a></li>
          </div>
        </ul>
      </div>


    </div>
    <div class="main-content">


      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
        </p>
      </div>

      <a href="javascript:history.back()" class="link-back">Back</a>

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">
            Payment schedules
          </h1>

          <p>A list of payment schedules available from the last 18 months.</p>

          <p>For further reports outside this, please contact <a
              href="mailto:nhsbsa.mys@nhs.net">nhsbsa.mys@nhs.net</a>.</p>

          <div class="grid-row">

            <div class="column-full">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Period</th>
                    <th class="numeric" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">May 2019</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                  <tr>
                    <td scope="row">April 2019</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                  <tr>
                    <td scope="row">March 2019</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                  <tr>
                    <td scope="row">February 2019</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                  <tr>
                    <td scope="row">January 2019</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                  <tr>
                    <td scope="row">December 2018</td>
                    <td class="numeric"><a href="/public/images/bsa/Payment Schedule.pdf">Download </a></td>
                  </tr>
                </tbody>
              </table>
              <br>
              <div class="results-per-page">
                <p id="resultsPerPage">Results per page:</p>
                <ul>
                  <li class="page-active" aria-labelledby="resultsPerPage">6</li>
                  <li><a href="" aria-labelledby="resultsPerPage">12</a></li>
                  <li><a href="" aria-labelledby="resultsPerPage">18</a></li>
                </ul>
              </div>

              <div class="pagination">
                <ul>
                  <li class="page-active">1</li>
                  <li><a href="payment2">2</a></li>
                  <li><a href="payment3">3</a></li>
                  <li><a href="payment2">Next</a></li>
                </ul>
              </div>

            </div>
          </div>

























        </div>



      </div>
    </div>

</main>

{% endblock %}