{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

          <div class="side-nav">
              <ul>
                <li>
                    <h3 class="heading-small">Reports</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="reports">Download monthly reports</a></li>
                </div>
                <li>
                    <h3 class="heading-small">Prescription images</h3>
                </li>
                <div id="options" class="options">
                  <li><a class="active" href="pir">Request an image</a></li>
                </div>
                <li>
                    <h3 class="heading-small">Payment information</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="payment">View payment schedules</a></li>
                </div>
                <li>
                    <h3 class="heading-small">User management</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="list-users">Manage users</a></li>
                </div>
              </ul>
            </div>


      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <h1 class="heading-xlarge">
                Prescription image request
              </h1>

              <div class="grid-row">
                  <div class="column-third">
                      <span class="form-label-bold">Year</span>
                      <div class="form-group">
                 <select class="form-control form-control-3-4" id="select-box" name="select-box">
                   <option>Select option</option>
                   <option>2017</option>
                   <option>2016</option>
                 </select>
                      </div>
                           <a class="button" style="margin-bottom: 25px;" id="search-button" href="" role="button">Request image</a>
                   </div>
                   <div class="column-third">
                       <span class="form-label-bold">Month</span>
                      <div class="form-group">
                 <select class="form-control form-control-3-4" id="select-box" name="select-box">
                   <option>Select option</option>
                   <option>September</option>
                   <option>August</option>
                   <option>July</option>
                 </select>
                      </div>
                   </div>
                   <div class="column-third">
                      <div class="form-group">
                           <span class="form-label-bold">Form number</span>
                 <input class="form-control form-control-3-4" id="full-name-f1" type="text">
                       </div>
                           </div>
                      </div>

                      <hr>

                      <div class="grid-row">
                          <div class="column-third">
                              <h3 class="heading-medium">Previous requested</h3>
                              <p class="form-hint">Paper prescription images</p>
                      </div>
                      <div class="column-two-thirds">
                              <div style="margin-top:25px">
                                  <h3 class="heading-medium">Available</h3>
                                  <table style="margin-top:20px;">
                           <thead>
                              <tr>
                                 <th scope="col" width="15%">Year</th>
                                 <th scope="col" width="15%">Month</th>
                                 <th scope="col" width="15%">Form</th>
                                 <th scope="col" width="30%">Status</th>
                                 <th scope="col" width="5%"></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>1</td>
                                  <td>Available</td>
                                  <td scope="col"><a href="/public/images/prescription-image.png" download="">Open</a></td>
                              </tr>
                               <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>2</td>
                                  <td>Available</td>
                                  <td scope="col"><a href="/public/images/prescription-image.png" download="">Open</a></td>
                              </tr>
                               <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>3</td>
                                   <td>Available</td>
                                  <td scope="col"><a href="/public/images/prescription-image.png" download="">Open</a></td>
                              </tr>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>4</td>
                                   <td>Available</td>
                                  <td scope="col"><a href="/public/images/prescription-image.png" download="">Open</a></td>
                               </tr>
                           </tbody>
                        </table>
                                  <h3 class="heading-medium">Pending</h3>
                                  <table style="margin-top:20px;">
                           <thead>
                              <tr>
                                 <th scope="col" width="15%">Year</th>
                                 <th scope="col" width="15%">Month</th>
                                 <th scope="col" width="15%">Form</th>
                                 <th scope="col" width="35%">Status</th>
                                 <th scope="col" width="5%"></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>5</td>
                                   <td>Requested</td>
                                  <td scope="col"></td>
                              </tr>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>6</td>
                                  <td>Requested</td>
                                  <td scope="col"></td>
                              </tr>
                               <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>7</td>
                                   <td>Requested</td>
                                  <td scope="col"></td>
                              </tr>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>8</td>
                                   <td>Requested</td>
                                  <td scope="col"></td>
                              </tr>
                              <tr>
                                 <td>2017</td>
                                 <td>September</td>
                                  <td>9</td>
                                   <td>Requested</td>
                                  <td scope="col"></td>
                              </tr>
                           </tbody>
                        </table>
                                  <!--
                                  <img src="../../../public/images/prescription-image.png" style="width:100%">
                   -->
                              </div>
                      </div>
                   </div>
























          </div>
        


      </div>
  </div>

</main>

{% endblock %}
