{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
        <style>.nhsuk-list--bullet, ul {
                list-style-type: disc;
                padding-left: 20px;
            }
        
            </style>
<div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>

            <li>
                <h3 class="heading-small">Dashboard</h3>
            </li>

            <div id="options" class="options">
                <li><a href="index">View summary</a></li>
            </div>

            <li>
                <h3 class="heading-small">Prescriptions</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="cpcs">Community Pharmacist Consultation Service
</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="qps">Pharmacy Quality Scheme</a></li>              <li><a href="nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
              <li><a class="active" href="cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
              <li><a href="cpaf-questionnaire/cpafq.html">CPAF questionnaire</a></li>            </div>

          </ul>
        </div>

      </div>
      <div class="main-content">

            <div class="phase-banner">
                <p>
                <strong class="phase-tag">BETA</strong>
                This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
                </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
            <div class="grid-row">
                <div class="column-two-thirds">

                        <header class="page-header" style="clear: none; display: block;">
                                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Prescription-based interventions</h1>                    
                                <p class="page-header--sub heading-secondary">Level 3 criteria</p>
                                <hr>
                            </header>
                            <div class="form-group">
                                    <details role="group">
                                  
                                      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">When should prescription-based interventions happen?</span></summary>
                                  
                                      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"> 
                            <p>When appropriate you should give advice to people presenting prescriptions who appear to:</p>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                            <li>have diabetes</li>
                            <li>be at risk of coronary heart disease (especially those with high blood pressure)</li>
                            <li>smoke or are overweight</li>
                        </ul>
                    </p>
                    <p>This is with the aim of increasing the person's understanding of their personal health issues.</p>
                </div>
            </details>
            </div>
                    <!--Question 1 -->
                    <div class="question1">
                        <h1 class="heading-medium">
                                Do you use records of previous advice given to follow up with patients when necessary?
                                                    </h1>


                        <form>
                            <div class="form-group">
                                <fieldset class="inline">
                            
                                    <legend class="visually-hidden">Do you use records of previous advice given to follow up with patients when necessary?</legend>
                            
                                    <div class="multiple-choice">
                                    <input id="radio-inline-q1" type="radio" name="radio-inline-group" value="Yes">
                                    <label for="radio-inline-q1">Yes</label>
                                    </div>
                                    <div class="multiple-choice">
                                    <input id="radio-inline-q1-no" type="radio" name="radio-inline-group" value="No">
                                    <label for="radio-inline-q1-no">No</label>
                                    </div>
                            
                                </fieldset>
                            </div>
                        </form>
                  </div>
 <!--Question 2 -->
 <div class="question1">
        <h1 class="heading-medium">
            Do you actively seek opportunities to provide ongoing support backed up with written information? (A leaflet when dispensing their blood pressure medication for a second time, for example)
                                    </h1>


        <form>
            <div class="form-group">
                <fieldset class="inline">
            
                    <legend class="visually-hidden">Do you actively seek opportunities to provide ongoing support backed up with written information? (A leaflet when dispensing their blood pressure medication for a second time, for example)</legend>
            
                    <div class="multiple-choice">
                    <input id="radio-inline-q1" type="radio" name="radio-inline-group" value="Yes">
                    <label for="radio-inline-q1">Yes</label>
                    </div>
                    <div class="multiple-choice">
                    <input id="radio-inline-q1-no" type="radio" name="radio-inline-group" value="No">
                    <label for="radio-inline-q1-no">No</label>
                    </div>
            
                </fieldset>
            </div>
        </form>
  </div>

            <br><a href="cpaf-signposting-l1.html"><input class="button" type="submit" value="Next"></a>
      </div>
</div>

</main>

{% endblock %}
