{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
<style>.nhsuk-list--bullet, ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    </style>
<div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>

            <li>
                <h3 class="heading-small">Dashboard</h3>
            </li>

            <div id="options" class="options">
                <li><a href="index">View summary</a></li>
            </div>

            <li>
                <h3 class="heading-small">Prescriptions</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="numsas">NHS Urgent Medicine Supply Advanced Service</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            
            <div id="options" class="options">
              <li><a href="qps">Quality Payments Scheme</a></li>
              <li><a class="active" href="cpaf">CPAF pre-screening questionnaire</a></li>
              <li><a href="cpaf-questionnaire/cpafq-start.html">CPAF Questionnaire</a></li>
            <li><a class="active" href="cpaf">Community Pharmacy Assurance Framework</a></li>
            </div>

          </ul>
        </div>

      </div>
      <div class="main-content">

            <div class="phase-banner">
                <p>
                <strong class="phase-tag">BETA</strong>
                This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
                </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
            <div class="grid-row">
                <div class="column-two-thirds">

                    <header class="page-header" style="clear: none; display: block;">
                        <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Standard operating procedures (SOPs)</h1>                    
                        <p class="page-header--sub heading-secondary">Level 2 criteria</p>
                        <hr>
                    </header>
                    
                    <div class="form-group">
                        <details role="group">
                      
                          <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Which SOPs does this refer to?</span></summary>
                      
                          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true"> <p>Please answer these questions while considering the following SOPs:</p>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                            <li>dispensing drugs and appliances</li>
                            <li>repeat dispensing</li>
                            <li>providing advice and support to people caring for themselves and their families</li>
                        </ul>
                    </p>
                    <p>Requirements for having SOPs are included in a number of different pieces of legislation or specification, for instance:</p>
                    <ul>
                        <li>the Medicines (Pharmacies) (Responsible pharmacist), Regulations 2008</li>
                        <li>NHS (Pharmaceutical and Local Pharmaceutical Services) Regulations 2013</li>
                        <li>enhanced services that are commissioned locally</li>
                    </ul>
                  </div>
                </details>
                </div>
                  <form class="form" action="sopTwo" method="GET"> <!-- wrapped both questions inside <form> -->
                    <!--Question 1 -->
                    <div class="question1">
                        <h1 class="heading-medium">
                            Have each of the SOPs been read by each member of staff to which they apply?
                        </h1>


                            <div class="form-group">
                                <fieldset class="inline">
                            
                                    <legend class="visually-hidden">Have each of the SOPs been read by each member of staff to which they apply?</legend>
                            
                                    <div class="multiple-choice">
                                      <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes"> <!-- unique name per question block -->
                                      <label for="radio-inline-q1-yes">Yes</label>
                                      </div>
                                      <div class="multiple-choice">
                                      <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"> <!-- both options here need same name -->
                                      <label for="radio-inline-q1-no">No</label>
                                      </div>
                            
                                </fieldset>
                            </div>
                  </div>
                    
                    <!--Question 2 -->
                    <div class="question1">
                        <h1 class="heading-medium">
                            Do staff fully understand the SOPs and work in accordance with them?
                        </h1>


                            <div class="form-group">
                                <fieldset class="inline">
                            
                                    <legend class="visually-hidden">Do staff fully understand the SOPs and work in accordance with them?</legend>
                            
                                    <div class="multiple-choice">
                                      <input id="radio-inline-q1-yes1" type="radio" name="radioInlineGroup2" value="Yes"> <!-- unique name per question -->
                                      <label for="radio-inline-q1-yes1">Yes</label>
                                      </div>
                                      <div class="multiple-choice">
                                      <input id="radio-inline-q1-no1" type="radio" name="radioInlineGroup2" value="No"> <!-- both options here need same name -->
                                      <label for="radio-inline-q1-no1">No</label>
                                      </div>
                              
                                </fieldset>
                            </div>
                  </div>

            <br>                    
          </form> <!-- closed <form> after questions and input -->
            <a href="cpaf-sops-l3.html"><input class="button" type="submit" value="Next"></a>                  
          </div>
</div>

</main>

{% endblock %}
