{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style>
    .declaration li {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  
    .declaration li {
      list-style-type: decimal;
    }
  
    .declaration {
      position: relative;
      overflow: hidden;
      border: 3px solid #bfc1c3;
      margin-top: 15px;
      margin-bottom: 35px;
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }
  
    .declaration:before {
      content: "DECLARATION";
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
      font-family: Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      background: #bfc1c3;
      color: white;
    }
  </style>

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="/pharmacy/index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a class="active" href="../cpcs">Community Pharmacist Consultation Service</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a href="qps">Pharmacy Quality Scheme</a></li>              <li><a href="nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
              <li><a href="cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
            <li><a href="cpaf-questionnaire/cpafq.html">CPAF questionnaire</a></li>            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
                <header class="page-header" style="clear: none; display: block;">
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Community Pharmacist Consultation Service</h1>                    
                    <p class="page-header--sub heading-secondary">Register for this service</p>
                    <hr>
                </header>

                        <p>
                          By registering you are confirming that you are ready to provide the service in line with the requirements of the service specification.
                        </p>
                        <hr>
                                                
                                    <div class="grid-row">
                                        <div class="column-third">
                                           <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
                                        </div>
                                        <div class="column-two-thirds">
                                           <div class="declaration">
                                              <ol>
                                                 <li style="margin-left:40px; padding-bottom:10px;">I confirm that I have read and understood the service specification document </li>
                                                  
                                                  <li style="margin-left:40px; padding-bottom:10px;">I confirm that my pharmacy has the appropriate IT functionality in place to provide this service (SCR access, an NHS Mail shared account, EPS enabled, and able to receive ITK messaging via your system provider)</li>  
                                                  
                                                  <li style="margin-left:40px; padding-bottom:10px;">I confirm that my pharmacy is ready to receive and action any CPCS referrals you receive from 1 October 2019 </li>
                                                </ol>
                                           </div>
                                            
                                     <!--
                                           <div class="form-group">
                                              <label class="form-label" for="telephone-number">Full name</label>
                                              <input class="form-control form-control-1-2" id="telephone-number" name="telephone-number" type="text" value="Tom Smith" readonly>
                                           </div>
                                     -->
                                            
                                            <div class="form-group">
                                        <label class="form-label" for="full-name-f1">Your full name</label>
                                     <input class="form-control form-control-1-2" id="full-name-f1" type="text" name="full-name-f1">
                                         </div>
                                            
                    
                                           <div class="multiple-choice multiple-radio">
                                              <input id="benefits" name="incomesingle" value="benefits-income" type="checkbox">
                                              <label for="benefits">I agree and accept the declaration above.</label>
                                            </div>
                                            <br>
                                            <br>
                                     
                                         
                                     <h1 class="heading-medium">Next steps</h1>
                
                                     <p>We'll send an email to the email address below.  If this is incorrect, change it.</p>
                                     <input class="form-control form-control-1-2" id="full-name-f1" type="text" name="full-name-f1"><br><br>
                                     <p>If you would like a copy sent to another email address, please enter it below. </p>
                                     
                                       <div class="form-group">
                                         <label class="form-label" for="full-name-f1">Email address (optional)</label>
                                      <input class="form-control form-control-1-2" id="full-name-f1" type="text" name="full-name-f1">
                                          </div>
                                           <div style="clear:both;"><a href="cpcs-reg.html"><input class="button" type="submit" value="Register"></a></div>
                                     </div>
                                          </div>
                         
                  <br>





















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
