{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="numsas">NHS Urgent Medicine Supply Advanced Service</a></li>
              <li><a class="active" href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a href="qps">Pharmacy Quality Scheme</a></li>            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <h1 class="heading-xlarge">
                  Community Seasonal Influenza Vaccination Service
              </h1>

              <p class="lede">The seasons runs from 1 September 2018 to 1 March 2019.</p>

              <h2 class="heading-medium">What is the start date for the claim?</h2>

              <div class="form-group">

                  <label class="form-label" for="start-date">
                      <span class="heading-small">Start date</span>
                  </label>
          
                  <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">For example, 01 09 2018</p>
          
                  <div class="form-date">

                      <div class="form-group form-group-day">
                          <label class="form-label" for="dob-day">Day</label>
                          <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0" max="31">
                      </div>
          
                      <div class="form-group form-group-month">
                          <label class="form-label" for="dob-month">Month</label>
                          <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0" max="12">
                      </div>
          
                      <div class="form-group form-group-year">
                          <label class="form-label" for="dob-year">Year</label>
                          <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0" max="2016">
                      </div>
                  </div>

              </div>

              <a class="button button-start" href="flu-step2" role="button">Start</a>


























          </div>
        


      </div>
  </div>

</main>

{% endblock %}
