{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="numsas">NHS Urgent Medicine Supply Advanced Service</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a  href="qps">Quality Payments Scheme</a></li>
              <li><a class="active" href="nsaid-start">NSAID Audit</a></li>
            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <h1 class="heading-xlarge">
                  Details of medicines prescribed
              </h1>

              <h2 class="heading-medium">Name of NSAID or COX2 inhibitor prescribed</h2>
              <!-- Search box -->
            <div class="search-wrapper">
              <fieldset>
                  <legend>
                      <label id="input-label" for="keywords" class="label-space form-label-bold">Cartoon characters</label>
                  </legend>
                  <div id="count"></div>
                  <div class="search-body">
                      <!-- Input with spy glass -->
                      <div class="color-spacing form-group">
                          <div class="input-glyph-inner">
                              <span class="glass-symbol">&#9906;</span>
                              <input class="search-control input-glyph form-control" autocomplete="off" id="keywords" name="keywords" type="text" onkeyup="searchProjects()">
                          </div>
                      </div>
                      <!-- /. -->
                      <!-- List of results -->
                      <fieldset>
                          <legend class="visuallyhidden">Checkbox inputs</legend>
                          <ul id="service-list" class="frame scroll-box">
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list1" name="list1" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list1">Bart Simpson</label>
                                  </div>            
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list2" name="list2" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list2">Donald Duck</label>
                                  </div>          
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list3" name="list3" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list3">Fry</label>
                                  </div>            
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list4" class="list-input" name="list4" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list4">Some others</label>
                                  </div>            
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list5" class="list-input" name="list5" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list5">wwwwwwwwwww</label>
                                  </div>            
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list6" class="list-input" name="list6" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list6">xxxxxxxxxxx</label>
                                  </div>          
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list7" class="list-input" name="list7" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list7">yyyyyyyy</label>
                                  </div>            
                              </li>
                              <li>
                                  <div class="multiple-choice multiple-radio">
                                      <input id="list8" class="list-input" name="list8" type="checkbox" value="true" onclick="updateCount()">
                                      <label class="check-label" for="list8">zzzzz</label>
                                  </div>            
                              </li>
                          </ul>
                      </fieldset>
                      <!-- /. -->
                  </div>
              </fieldset>
          </div>
          <!-- /. -->



              <h2 class="heading-medium">Other NSAID or COX2 inhibitor prescribed</h2>
              <div class="govuk-form-group">
                
          
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint" style="width: 100%"></textarea>
                </div>

                <h2 class="heading-medium">Total daily dose prescribed</h2>
                <div class="govuk-form-group">
                    <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text">
                    <label class="govuk-label" for="width-2">
                        mg
                      </label>
                  </div>

                  <h2 class="heading-medium">NSAID or COX2 inhibitors prescribed for more then 2 months?</h2>

                  <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      
                        <div class="govuk-radios govuk-radios--inline">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="changed-name-1">
                              Yes
                            </label> </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                              No
                            </label> </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                  unkown
                                </label> </div>
                        </div>
                        
                      </fieldset>
                    </div>
                    <h2 class="heading-medium">NSAID or COX2 inhibitors prescribed for more then 2 months?</h2>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        
                          <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                                Yes
                              </label> </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                No
                              </label> </div>
                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    unkown
                                  </label> </div>
                          </div>
                          
                        </fieldset>
                      </div>
                      <h2 class="heading-medium">Is the patient taking any other medicines (listed) that might increase the risk of bleeding?</h2>
                      <span id="changed-name-hint" class="govuk-hint">
                          (Please select all that apply)
                        </span>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            
                            </br>
                              <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                    No
                                  </label> </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                    Anticoagulant
                                  </label> </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                    Antiplatelet (including asprin)
                                  </label> </div>
                              </div>
                              <div class="govuk-checkboxes">
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                                      Selective serotonin re-uptake inhibitor
                                    </label> </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                      Unknown
                                    </label> </div>
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                      Other (please state below)
                                    </label> </div>
                                </div>
                            </fieldset>
                          </div>
                          <h2 class="heading-medium">Other medicines prescribed that might increase the risk of GI bleeding</h2>
                          <div class="govuk-form-group">
                              
                              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint" style="width: 100%; margin-bottom: 40px;"></textarea>
                            </div>

              

                  <a class="button button-start" href="NSAID-Gastro-details" role="button">Next</a>


                  <style>
                    /* wrapper style */
                    ul#service-list {
                        background-color: white;
                    }
                    .search-body {
                        background-color: #FFF;
                    }
                    .search-wrapper {
                        background-color: #DEE0E2; 
                        border: 5px solid #DEE0E2;
                    }
                    .color-spacing {
                        padding:10px;
                    }
                    /* /. */
                    /* scroll box */
                    ul.scroll-box  {
                        height:160px;
                        width:100%;
                        overflow:hidden;
                        overflow: scroll;
                        margin-top:-20px;
                    }
                    .search-control {
                        width: 100%;
                    }
                    @media only screen and (max-width:767px) {
                        ul.scroll-box  {
                            height:100px;
                            width:100%;
                            margin-top:-10px;
                        }
                    }
                    
                    .frame::-webkit-scrollbar {
                        -webkit-appearance: none;
                    }
                    .frame::-webkit-scrollbar:vertical {
                        width: 11px;
                    }
                    .frame::-webkit-scrollbar:horizontal {
                        height: 11px;
                    }
                    .frame::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        border: 2px solid white; /* should match background, can't be transparent */
                        background-color: rgba(0, 0, 0, .5);
                    }
                    /* /. */
                    /* spy glass in the input */
                    .input-glyph-inner {
                        position: relative;
                    }
                    .glass-symbol {
                        position: absolute;
                        bottom: 2px; 
                        left: 10px;
                        font-weight: 800;
                        color: #333333;
                        -webkit-transform: rotate(-45deg); 
                        -moz-transform: rotate(-45deg); 
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        font-size:30px;
                    }
                    @media only screen and (max-width:642px) {
                        .glass-symbol {
                            font-size:26px;
                        }
                    }
                    
                    .input-glyph {
                        padding-left: 40px;
                    }
                    @media all and (-ms-high-contrast: none) , ( -ms-high-contrast : active) {
                        /* IE10+ CSS styles */
                        .input-glyph {
                            padding-bottom: 3px; /* 7px for the other symbol */
                        }
                    }
                    /* /. */ 
                    /* Label styles */ 
                    .multiple-radio label {
                        margin-left: 40px !important;
                    }
                    .check-label{
                        padding-bottom:16px !important; /* on some prototypes the labels are really thin */
                        width: 100%;
                    }
                    .multiple-choice {
                        background-color: #fff; /* overwrites grey background */
                    }
                    .label-space, #count {
                        padding: 5px 10px;
                    }
                    /* /. */
                </style>
<script>
  /* searches list based on input */
  function searchProjects() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('keywords');
      filter = input.value.toUpperCase();
      ul = document.getElementById("service-list");
      li = ul.getElementsByTagName('li');

      for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("label")[0];
      txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }
</script>
<script>
  /* Counts checked checkboxes */
  window.updateCount = function() {
      var count = $(".list-input:checked").length;
      document.getElementById("count").innerHTML = count + ' selected';
      if (count < 1) {
          document.getElementById("count").style.display = "none";
      } else {
          document.getElementById("count").style.display = "block";
      }   
  };
</script>


















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
