{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="numsas">NHS Urgent Medicine Supply Advanced Service</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a href="qps">Quality Payments Scheme</a></li>
              <li><a class="active" href="nsaid-start">NSAID Audit</a></li>
            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <h1 class="heading-xlarge">
                  Community pharmacy NSAID audit gastrointestinal safety
              </h1>
              <h2 class="heading-large">Introduction</h2>

              <p>Adverse effects of non-steroidal anti-inlfammatory drugs (NSAIDs) including cyclo-oxygenase-2 (COX2) selective inhibitors are a frequent cause of hospital admissions which are potentially preventable.  The adverse effects include gastro-intestinal (GI) bleeds, pro-thombotic events (e.g. heart attack, stroke) and reduced renal blood flow leading to acute kidney injury. This audit looks only at GI safety.</p>

                <p>National Institute for Health and Care Excellence guidance requires all patients prescribed oral NSAIDs for osteaarthritis or rheumatoid arthritis (no age limit) or for low back pain (if aged aged over 45) to be co-prescribed gastro-protection (e.g. proton pump inhibitor).  All older patients (aged 65 or over) are at increased risk of NSAID induced GI adverse events.  Additional risk factors include prolonged treatment and concomitant use of other other medicines which increase the likelihood of GI events.  GI adverse events have also been reported where patients have self-medicated with a second NSAID in addition to the prescribed agent or have not taken a gastro-protective despite this being co-prescribed.</p>
             
              <P>For full audit information please click here.  This link also provides contact deatils for any questions regarding this audit.  If you have any technical problems accessing/using teha udit tool, please email <a href "">nhsbsaresearch@nhs.net</a></P>
                  
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Instructions
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>On the following screen you will see a series of questions.  The questions relate to one patient only.  Once you have completed all the questions for one patient, press 'Next' to move on to the questions regarding the next patient.</p>
                  <p>INCLUDE all patients aged 65 or over who present a prescription for any oral NSAID or COX2 inhibitor.  (NSAIDs/COX2 inhibitors are in BNF chapter 10, Pain and inflammation in musculoskeletal disorders: this does not include patients prescribed aspirin).</p>
                  <p>Please complete all of the questions on each screen for each patient regardless of length of treatment.  Oral COX2 inhbitors and NSAIDs are listed in the guidance.</p>
                  <p>The maximum number of entries you can prvoide is 20.  Please ensure that you keep your own record of which patients you have submitted as an entry.  This will prevent duplicated submissions.</p>
                  <p>You do not need to input all entries at once.  You can save your responses and return them at a later time/date by clicking the 'save' button.  You will then be emailed a link which allows you to re-access you previous entries.</p>
                  <p>You can use the 'Next' and 'Back' buttons to navigate through your patient entries. Please check that you have completed all the questions accurately for each patient before clicking submit as you will not be able to resubmit.</p>
                </div>
              </details>
              <br><br>
              <a class="button button-start" href="NSAID-Patient-details" role="button">Start now</a>






















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
