{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="/pharmacy/index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="cpcs">Community Pharmacist Consultation Service
</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a class="active" href="/pharmacy/qps">Pharmacy Quality Scheme</a></li>              
              <li><a href="/pharmacy/nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
              <li><a href="/pharmacy/cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
              <li><a href="/pharmacy/cpaf-questionnaire/cpafq">Community Pharmacy Assurance Framework pre-visit questionnaire</a></li>
            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <header class="page-header" style="clear: none; display: block;">
                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Pharmacy Quality Scheme</h1>                    
                <hr>
            </header>

            <h2 class="heading-large">PQS Aspirational Declaration</h2>

            <a href="pqs/qps-start.html">Version 1</a>

            <h2 class="heading-large">PQS February 2020 Declaration</h2>

            <h3 class="heading-medium">Version 1</h3>

            <ul style="list-style: disc; margin-left: 30px;">
                  <li><span class="strong">Persona 1 </span>- has completed phenobarbital audit, and passed all other domains.</li>
                  <ul style="list-style: circle; margin-left: 20px;">
                    <li><a href="pqs/pqs-start.html">From beginning</a></li>
                    <li><a href="pqs/pqs-tasklist1.html">Domain 1</a></li>
                    <li><a href="pqs/pqs-tasklist2.html">Domain 2</a></li>
                    <li><a href="pqs/pqs-tasklist3.html">Domain 3</a></li>
                    <li><a href="pqs/pqs-tasklist4.html">Domain 4</a></li>
                    <li><a href="pqs/pqs-tasklist5.html">Domain 5</a></li>
                    <li><a href="pqs/pqs-tasklist6.html">Domain 6</a></li>
                    <li><a href="pqs/pqs-d6-not-met.html">Domain 6 - NOT MET</a></li>
                  </ul><br>
                  <ul style="list-style: circle; margin-left: 20px;">
                    <li><a href="pqs/pqs-d2-verified.html">Domain 2</a> - phenobarbital and valproate audits pre-populated</li>
                  </ul><br>
                  <li><span class="strong">Persona 2</span> - has failed prevention domain, and passed all other domains.</li>
                  <ul style="list-style: circle; margin-left: 20px;">
                      <li><a href="pqs3/pqs-start.html">From continue point</a></li>
                    </ul><br>
  
              <li><span class="strong">Gateway criteria</span></li>
              <ul style="list-style: circle; margin-left: 20px;">
              <li><a href="pqs/pqs-start.html">All gateway criteria met</a></li>
              <li><a href="pqs2/pqs-start.html">Some gateway criteria met</a></li>
              <li><a href="pqs4/pqs-start.html">No gateway criteria met</a></li>
            </ul>

















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
