{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
                <header class="page-header" style="clear: none; display: block;">
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Hepatitis C testing</h1>                    
                    <p class="page-header--sub heading-secondary">Register for this service</p>
                    <hr>
                </header>

                
<p>About this service</p>              

    <p>You need to register your pharmacy to use this service.</p>
                            <div class="form-group">
                                                
                  <form class="form" action="hepRegister" method="GET"> <!-- wrapped both questions inside <form> -->
                      <div class="question1">
                        <h1 class="heading-medium">
                            Do you want to register for this service?
                        </h1>
                                <fieldset class="inline">

                                    <legend class="visually-hidden">Do you and want to register for this service?</legend>
                            
                                    <div class="multiple-choice">
                                      <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes"> <!-- unique name per question block -->
                                      <label for="radio-inline-q1-yes">Yes</label>
                                      </div>
                                      <div class="multiple-choice">
                                      <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"> <!-- both options here need same name -->
                                      <label for="radio-inline-q1-no">No</label>
                                      </div>
                                  
                                </fieldset>
                            </div>
      
                  <br>
                  <!-- <a href="cpaf-sops-l2.html"><input class="button" type="submit" value="Next"></a> -->
                  <input class="button" type="submit" value="Next"> <!-- input required to submit data -->
                </form> <!-- closed <form> after questions and input -->






















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
