{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
                <header class="page-header" style="clear: none; display: block;">
                    <p class="page-header--sub heading-secondary">Community Pharmacy Hepatitis C Antibody Testing Service</p>
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Monthly submissions</h1>                    
                    <hr>
                </header>

                              
              <form class="form"> <!-- wrapped both questions inside <form> -->


                <h2 class="heading-medium">Your submission</h2>
                <div class="submissions" style="padding: 0;">
                  <table class="data-table assets-summary check-your-answers">
                    <tbody><tr>
                      <td><span class="strong">Month</span></td>
                      <td><span class="strong">Positive tests</span></td>
                      <td><span class="strong">Negative tests</span></td>
                      <td><span class="strong"></span></td>
                    </tr>
                    <tr>
                      <td>February 2020</td>
                      <td>7</td>
                      <td>36</td>
                      <td>
                      <a href="#">Change<span class="visually-hidden"> answer</span></a>
                      </td>
                    </tr>
                  </tbody></table>
                </div>
              <br>

              <div class="grid-row">
                <div class="column-third">
                   <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
                </div>
                <div class="column-two-thirds">
                   <div class="declaration">
                      <br>
                      <p>I am claiming payment for provision of the Community pharmacy Hepatitis C 
                      Antibody Testing Service - Advanced Service, which has been provided in accordance 
                      with the requirements set out in the Pharmaceutical Services (Advanced and 
                      Enhanced Services) (England) Directions 2013, as amended.</p>
                      
                     <p>I declare that the information on this form is correct and complete and I 
                     understand that if it is not, further action may be taken.</p>
                   </div>
                   
                      <div class="form-group">
                         <label class="form-label" for="firstname">
                         First name
                         </label>
                         <input class="form-control" id="firstname" name="firstname" type="text">
                      </div>
                      <div class="form-group">
                         <label class="form-label" for="lastname">
                         Last name
                         </label>
                         <input class="form-control" id="lastname" name="lastname" type="text">
                      </div>
   
                                     <div class="multiple-choice multiple-radio">
                                        <input id="benefits" name="incomesingle" value="benefits-income" type="checkbox">
                                        <label for="benefits">I agree and accept this declaration.</label>
                                     </div>
                                       <br>
                                       <br>
   
                                     <h1 class="heading-medium">Next steps</h1>
                
                                     <p>We'll send an email to this email address.  If this is incorrect, change it.</p>
                                     <input class="form-control form-control-1-2" id="full-name-f1" type="text" name="full-name-f1"><br><br>
                                     <p>If you would like a copy sent to another email address, please enter it. </p>
                                     
                                     <div class="form-group">
                                         <label class="form-label" for="full-name-f1">Email address (optional)</label>
                                      <input class="form-control form-control-1-2" id="full-name-f1" type="text" name="full-name-f1">
                                     </div>
                  <a class="button" href="monthly-claim-done.html" role="button">Next</a>
                                       
   
   
   </div>
   </div>


      </form></div>





















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
