
{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
            <ul>
                <li>
                    <h3 class="heading-small">Dashboard</h3>
                  </li>
                  <div id="options" class="options">
                    <li><a href="/pharmacy/index">View summary</a></li>
                  </div>
              <li>
                <h3 class="heading-small">Prescriptions</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/fp34c">Prescription submissions (FP34C)</a></li>

                <li><a href="/pharmacy/unpaid">Unpaid items</a></li>
                <li><a href="/pharmacy/disallowed">Disallowed items</a></li>
                <li><a href="/pharmacy/pir">Prescription image request</a></li>
              </div>
              <li>
                <h3 class="heading-small">Advanced services</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/cpcs">Community Pharmacist Consultation Service
</a></li>
                <li><a href="/pharmacy/flu">Flu submission</a></li>
              </div>
              <li>
                <h3 class="heading-small">Surveys</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/qps">Pharmacy Quality Scheme</a></li>                
                <li><a href="/pharmacy/nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
                <li><a href="/pharmacy/cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
                <li><a class="active" href="/pharmacy/cpaf-questionnaire/cpafq">Community Pharmacy Assurance Framework pre-visit questionnaire</a></li>

              </div>
            </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <header class="page-header" style="clear: none; display: block;">
                <p class="page-header--sub heading-secondary">CPAF questionnaire</p>
                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Essential services - electronic prescriptions</h1>
                <hr>
            </header>

            <form class="form" action="epsOne" method="GET"> <!-- wrapped all questions inside <form> -->
              <!--Question 1 -->
            <div class="question4">
                <h1 class="heading-medium">
                        Are you EPS2 enabled?
                </h1>

                    <div class="form-group">
                        <fieldset class="inline">
                    
                            <legend class="visually-hidden">Are you EPS2 enabled?</legend>
                    
                            <div class="multiple-choice">
                              <input id="radio-inline-q1-yes" type="radio" name="radioInlineGroup" value="Yes"> <!-- unique name per question block -->
                              <label for="radio-inline-q1-yes">Yes</label>
                              </div>
                              <div class="multiple-choice">
                              <input id="radio-inline-q1-no" type="radio" name="radioInlineGroup" value="No"> <!-- both options here need same name -->
                              <label for="radio-inline-q1-no">No</label>
                              </div>
                      
                        </fieldset>
                    </div>
          </div>


          <br>
          <!-- <a href="cpaf-sops-l2.html"><input class="button" type="submit" value="Next"></a> -->
          <input class="button" type="submit" value="Next"> <!-- input required to submit data -->
        </form> <!-- closed <form> after questions and input -->
                                                                        

                                                                            
            
            



      </div>
  </div>

</main>

{% endblock %}
