
{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
            <ul>
                <li>
                    <h3 class="heading-small">Dashboard</h3>
                  </li>
                  <div id="options" class="options">
                    <li><a href="/pharmacy/index">View summary</a></li>
                  </div>
              <li>
                <h3 class="heading-small">Prescriptions</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/fp34c">Prescription submissions (FP34C)</a></li>

                <li><a href="/pharmacy/unpaid">Unpaid items</a></li>
                <li><a href="/pharmacy/disallowed">Disallowed items</a></li>
                <li><a href="/pharmacy/pir">Prescription image request</a></li>
              </div>
              <li>
                <h3 class="heading-small">Advanced services</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/cpcs">Community Pharmacist Consultation Service
</a></li>
                <li><a href="/pharmacy/flu">Flu submission</a></li>
              </div>
              <li>
                <h3 class="heading-small">Surveys</h3>
              </li>
              <div id="options" class="options">
                <li><a href="/pharmacy/qps">Pharmacy Quality Scheme</a></li>                
                <li><a href="/pharmacy/nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
                <li><a href="/pharmacy/cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
                <li><a class="active" href="/pharmacy/cpaf-questionnaire/cpafq">Community Pharmacy Assurance Framework pre-visit questionnaire</a></li>

              </div>
            </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
                <header class="page-header" style="clear: none; display: block;">
                    <p class="page-header--sub heading-secondary">CPAF questionnaire</p>
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Clinical governance - public information</h1>
                    <hr>
                </header>
    
              <form class="form"> <!-- wrapped both questions inside <form> -->

                <!--Question 1 -->
                <div class="question1">
                    <h1 class="heading-medium">
                            When did you complete the patient satisfaction survey?  If you have not carried out the survey yet, enter the date you expect to complete it.
                                                </h1>



                                                            <div class="nhsuk-form-group">
                                                              <span class="nhsuk-hint" id="dob-hint">
                                                                For example, 10 2017
                                                              </span>
                                                          
                                                              <div class="nhsuk-date-input" id="dob">
                                                                <div class="nhsuk-date-input__item">
                                                                  <div class="nhsuk-form-group">
                                                                    <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
                                                                      Month
                                                                    </label>
                                                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                                                                  </div>
                                                                </div>
                                                                <div class="nhsuk-date-input__item">
                                                                  <div class="nhsuk-form-group">
                                                                    <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
                                                                      Year
                                                                    </label>
                                                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                                                                  </div>
                                                                </div>
                                                              </div>
                                                          
                                                          </div>
                                                      </div>
                                                          <br>
                                                          <h2 class="heading-medium" style="margin-top:0; margin-bottom: 20px;">When were the results published? If you haven't published the results yet, enter the date you expect to publish them.</h2>
                                                          <div class="nhsuk-form-group">
                                                            <span class="nhsuk-hint" id="dob-hint">
                                                              For example, 10 2017
                                                            </span>
                                                        
                                                            <div class="nhsuk-date-input" id="dob">
                                                              <div class="nhsuk-date-input__item">
                                                                <div class="nhsuk-form-group">
                                                                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
                                                                    Month
                                                                  </label>
                                                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                                                                </div>
                                                              </div>
                                                              <div class="nhsuk-date-input__item">
                                                                <div class="nhsuk-form-group">
                                                                  <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
                                                                    Year
                                                                  </label>
                                                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                                                                </div>
                                                              </div>
                                                            </div>
                                                        
                                                        </div>
                                                        
                                                        
                                                        <h2 class="heading-medium">How have you publicised the outcome of the survey?</h2>
                                                        <span id="changed-name-hint" class="govuk-hint">
                                                            (Select all that apply)
                                                          </span>
                                                          
                                                          <div class="form-group" >
                                                
                                                              <fieldset>
                                                              <div class="multiple-choice multiple-radio" >
                                                                  <input id="MS" name="male" value="male" type="checkbox">
                                                                  <label for="MS">Leaflet in pharmacy</label>
                                                                </div>
                                                      
                                                                <div class="multiple-choice multiple-radio" >
                                                                    <input id="MUR" name="incomesingle" value="earned-income" type="checkbox">
                                                                    <label for="MUR">Poster in pharmacy</label>
                                                                  </div>
                                                                  
                                                                  <div class="multiple-choice multiple-radio" >
                                                                      <input id="AUR" name="incomesingle" value="earned-income" type="checkbox">
                                                                      <label for="AUR">Pharmacy website</label>
                                                                    </div>
                                          
                                                                    <div class="multiple-choice multiple-radio" >
                                                                        <input id="AUR1" name="incomesingle" value="earned-income" type="checkbox">
                                                                        <label for="AUR1">NHS website</label>
                                                                      </div>
                                                                      
                                                                    <div class="multiple-choice multiple-radio" data-target="wages-reveal-1">
                                                                          <input id="AUR2" name="incomesingle" value="earned-income" type="checkbox">
                                                                          <label for="AUR2">Not published</label>
                                                                        </div>
                                                                        </fieldset>
                                                                        </div>


                                                                        <h2 class="heading-medium" style="margin-top:0; margin-bottom: 20px;">If you have made changes as a result of the survey what were they?</h2>                                                                         
                                                                              <div class="nhsuk-form-group">
                                                                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="8" aria-describedby="more-detail-hint" style="width: 100%; margin-bottom: 40px;"></textarea>
                                                                          </div>
                                        
                                          
                                                


            <br>
            <!-- <a href="cpaf-sops-l2.html"><input class="button" type="submit" value="Next"></a> -->
            <a class="button" href="cpafq-cg-leaflet.html" role="button">Next</a>
          </form> <!-- closed <form> after questions and input -->

      </div>
  </div>

</main>

{% endblock %}
