{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
              <li>
                  <h3 class="heading-small">Dashboard</h3>
                </li>
                <div id="options" class="options">
                  <li><a href="/pharmacy/index">View summary</a></li>
                </div>
            <li>
              <h3 class="heading-small">Prescriptions</h3>
            </li>
            <div id="options" class="options">
              <li><a href="fp34c">Prescription submissions (FP34C)</a></li>
              <li><a href="unpaid">Unpaid items</a></li>
              <li><a href="disallowed">Disallowed items</a></li>
              <li><a href="pir">Prescription image request</a></li>
            </div>
            <li>
              <h3 class="heading-small">Advanced services</h3>
            </li>
            <div id="options" class="options">
              <li><a href="cpcs">Community Pharmacist Consultation Service
</a></li>
              <li><a href="flu">Flu submission</a></li>
            </div>
            <li>
              <h3 class="heading-small">Surveys</h3>
            </li>
            <div id="options" class="options">
              <li><a href="qps">Pharmacy Quality Scheme</a></li>              <li><a class="active" href="/pharmacy/nsaids">Non-steroidal anti-inflammatory drug audit</a></li>
              <li><a href="cpaf">Community Pharmacy Assurance Framework pre-screening questionnaire</a></li>
            <li><a href="cpaf-questionnaire/cpafq.html">CPAF questionnaire</a></li>            </div>
          </ul>
        </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p> 
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>
        
          <div class="grid-row">
            <div class="column-two-thirds">
        
              <header class="page-header" style="clear: none; display: block;">
                <p class="page-header--sub heading-secondary">Essential services - repeat dispensing</p>
                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Check your answers</h1>                    
                <hr>
            </header>
                                                                          <h2 class="heading-medium">
                                                                                Repeat dispensing
                                                                              </h2>
                                                              
                                                                            <dl class="govuk-check-your-answers cya-questions-short">
                                                                                <div>
                                                                                  <dt class="cya-question">
                                                                                    Do you have a repeat dispensing SOP?
                                                                                  </dt>
                                                                                  <dd class="cya-answer">
                                                                                    Yes
                                                                                  </dd>
                                                                                  <dd class="cya-change">
                                                                                    <a href="cpafq-rd-sop-resource.html">
                                                                                      Change<span class="visually-hidden"> if you have a repeat dispensing SOP</span>
                                                                                    </a>
                                                                                  </dd>
                                                                                </div>
                                                                                <div>
                                                                                        <dt class="cya-question">
                                                                                          When was it last updated?
                                                                                        </dt>
                                                                                        <dd class="cya-answer">
                                                                                          1st July 2019
                                                                                        </dd>
                                                                                        <dd class="cya-change">
                                                                                          <a href="cpafq-rd-sop-resource.html">
                                                                                            Change<span class="visually-hidden"> when you last updated the repeat dispensing SOP</span>
                                                                                          </a>
                                                                                        </dd>
                                                                                      </div>
                                                                                      <div>
                                                                                            <dt class="cya-question">
                                                                                              Do you have sufficient dispensing resources?
                                                                                            </dt>
                                                                                            <dd class="cya-answer">
                                                                                              Yes
                                                                                            </dd>
                                                                                            <dd class="cya-change">
                                                                                              <a href="cpafq-rd-sop-resource.html">
                                                                                                Change<span class="visually-hidden"> if you have sufficient dispensing resources</span>
                                                                                              </a>
                                                                                            </dd>
                                                                                          </div>
                                                                                              <div>
                                                                                                <dt class="cya-question">
                                                                                                  Are all pharmacists trained in repeat dispensing?
                                                                                                </dt>
                                                                                                <dd class="cya-answer">
                                                                                                  Yes
                                                                                                </dd>
                                                                                                <dd class="cya-change">
                                                                                                  <a href="cpafq-rd-sop-resource.html">
                                                                                                    Change<span class="visually-hidden"> if all pharmacists are trained in repeat dispensing</span>
                                                                                                  </a>
                                                                                                </dd>
                                                                                              </div>
                                                                                              <div>
                                                                                                    <dt class="cya-question">
                                                                                                      Are staff aware of how and when to refuse to supply?
                                                                                                    </dt>
                                                                                                    <dd class="cya-answer">
                                                                                                      Yes
                                                                                                    </dd>
                                                                                                    <dd class="cya-change">
                                                                                                      <a href="cpafq-rd-refuse.html">
                                                                                                        Change<span class="visually-hidden"> if staff are aware of how and when to refuse to supply</span>
                                                                                                      </a>
                                                                                                    </dd>
                                                                                                  </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Does the pharmacist establish that it's clinically appropriate to dispense a prescription?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-refuse.html">
                                                                                                            Change<span class="visually-hidden"> if the pharmacist establishes that it's clinically appropriate to dispense a prescription</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Do you have secure storage for repeatable prescriptions and batch issues?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-storage-surplus.html">
                                                                                                            Change<span class="visually-hidden"> if you have secure storage for repeatable prescriptions and batch issues</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Is there an audit trail of supplies for repeatable prescriptions?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-storage-surplus.html">
                                                                                                            Change<span class="visually-hidden"> if there's an audit trail of supplies for repeatable prescriptions</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Do you have means of destroying surplus batch issues?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-storage-surplus.html">
                                                                                                            Change<span class="visually-hidden"> if you have means of destroying surplus batch issues</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Have you made any records of patients referred back to the prescriber where supply has been refused?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-referrals.html">
                                                                                                            Change<span class="visually-hidden"> if you have made any records of patients referred back to the prescriber where supply has been refused</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          How often are records made?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Weekly
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-referrals.html">
                                                                                                            Change<span class="visually-hidden"> how often records are made</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                                                                                                                    <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Where do you keep the records?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Patient medication record
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-referrals.html">
                                                                                                            Change<span class="visually-hidden"> where you keep the records</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                      <div>
                                                                                                        <dt class="cya-question">
                                                                                                                Have you made any records of patients referred back to the prescriber where clinically significant issues have arisen?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-clinical-issues.html">
                                                                                                            Change<span class="visually-hidden"> if you've made any records of patients referred back to the prescriber where clinically significant issues have arisen</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          How often are records made?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Monthly
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-clinical-issues.html">
                                                                                                            Change<span class="visually-hidden"> how often records are made</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Where do you keep the records?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Separate computer record
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-clinical-issues.html">
                                                                                                            Change<span class="visually-hidden"> if the pharmacist establishes that it's clinically appropriate to dispense a prescription</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                  <div>
                                                                                                        <dt class="cya-question">
                                                                                                          Have you made any records of notifications to prescribers following refusal to supply?
                                                                                                        </dt>
                                                                                                        <dd class="cya-answer">
                                                                                                          Yes
                                                                                                        </dd>
                                                                                                        <dd class="cya-change">
                                                                                                          <a href="cpafq-rd-refusal-notifications.html">
                                                                                                            Change<span class="visually-hidden"> if the pharmacist establishes that it's clinically appropriate to dispense a prescription</span>
                                                                                                          </a>
                                                                                                        </dd>
                                                                                                      </div>
                                                                                                      <div>
                                                                                                            <dt class="cya-question">
                                                                                                              How often are records made?
                                                                                                            </dt>
                                                                                                            <dd class="cya-answer">
                                                                                                              Weekly
                                                                                                            </dd>
                                                                                                            <dd class="cya-change">
                                                                                                              <a href="cpafq-rd-refusal-notifications.html">
                                                                                                                Change<span class="visually-hidden"> if the pharmacist establishes that it's clinically appropriate to dispense a prescription</span>
                                                                                                              </a>
                                                                                                            </dd>
                                                                                                          </div>
                                                                                                      <div>
                                                                                                            <dt class="cya-question">
                                                                                                              Where do you keep the records?
                                                                                                            </dt>
                                                                                                            <dd class="cya-answer">
                                                                                                              Separate computer record
                                                                                                            </dd>
                                                                                                            <dd class="cya-change">
                                                                                                              <a href="cpafq-rd-refusal-notifications.html">
                                                                                                                Change<span class="visually-hidden"> where you keep the records</span>
                                                                                                              </a>
                                                                                                            </dd>
                                                                                                          </div>
                                                                                </dl>
<br>


                  <a class="button" href="cpafq-task-list6.html" role="button">Next</a>
                  <a class="button" href="cpafq-save-continue6" role="button" style="background-color: #005EA5">Save and continue later</a>




















          </div>
        


      </div>
  </div>

</main>

{% endblock %}
