{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style>
    .declaration li {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .declaration li {
      list-style-type: decimal;
    }

    .declaration {
      position: relative;
      overflow: hidden;
      border: 3px solid #bfc1c3;
      margin-top: 15px;
      margin-bottom: 35px;
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    .declaration:before {
      content: "DECLARATION";
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
      font-family: Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      background: #bfc1c3;
      color: white;
    }
  </style>
<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index2">Dashboard</a>
            </li>
            <li>
              <a href="../prescriptions">Prescriptions</a>
            </li>
            <li>
              <a href="../advanced-services" class="active">Advanced Services</a>
            </li>
            <li>
              <a href="../audits-questionnaires">Audits and questionnaires</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


          <div class="phase-banner">
              <p>
              <strong class="phase-tag">BETA</strong>
              This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
              </p>
            </div>

            <a href="javascript:history.back()" class="link-back">Back</a>

          <div class="grid-row">
            <div class="column-two-thirds">

              <header class="page-header" style="clear: none; display: block;">
                <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">Coronavirus (COVID-19) Vaccination Service</h1>
                <p class="page-header--sub heading-secondary">2020/21</p>
              </header><br><br>


                                <p class="lede">Check your answers and read the submission declaration</p>


                               <hr>

                                 <table>
                                   <thead>
                                   </thead>
                                   <tbody>

                                   </tbody>
                                </table>

                                <table>
                          <thead>
                             <tr>
                                <td><span class="strong">Period</span></td>
                                <td><span class="strong">total number of doses</span></td>
                                <td><span class="strong"></span></td>
                             </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>January 2021</td>
                                <td>145</td>
                                <td style="text-align:right; padding-right:0;"><a href="#" style="text-decoration: underline;">View</a></td>
                             </tr>
                             <tr>
                                <td>December 2020</td>
                                <td>479</td>
                                <td style="text-align:right; padding-right:0;"><a href="#" style="text-decoration: underline;">View</a></td>
                             </tr>
                          </tbody>
                       </table>
                                <br>


                                                              <div class="grid-row">
                    <div class="column-third">
                       <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
                    </div>
                    <div class="column-two-thirds">
                       <div class="declaration">
                          <ol>
                             <li style="margin-left:40px; padding-bottom:10px;">I confirm that I have reviewed the summary above and that the information provided within this submission is correct and accurate. </li>

                              <li style="margin-left:40px; padding-bottom:10px;">I confirm that my acceptance of the declaration below shall act as my electronic signature.</li>

                              <h3 class="heading-medium" style="margin-bottom:20px; margin-top:0px;">Covid-19 vaccination</h3>
                              <li style="margin-left:40px; padding-bottom:10px;">I am claiming payment in accordance with the terms of this service.
                              </li>
                              <!--
                             <li style="margin-left:40px; padding-bottom:10px;">I confirm that my name below shall act as my electronic signature.</li>-->
                          </ol>
                       </div>

                 <!--
                       <div class="form-group">
                          <label class="form-label" for="telephone-number">Full name</label>
                          <input class="form-control form-control-1-2" id="telephone-number" name="telephone-number" type="text" value="Tom Smith" readonly>
                       </div>
                 -->

                 <fieldset>
<legend class="visually-hidden">New Submission</legend>
<div class="form-group">
<label class="form-label" for="firstname">First name</label>


<input class="form-control" id="firstname" type="text" name="firstname" value="">
</div>
<div class="form-group">
<label class="form-label" for="surname">Surname</label>


<input class="form-control" id="surname" type="text" name="surname" value="">
</div>
<div class="form-group">
<span id="emailHint" class="panel panel-border-narrow">
A confirmation email will be sent to <span class="strong">dynamic email</span>.
If you would like a copy sent to another email address, please enter it below.
</span>
<label class="form-label" for="email">Email address (optional)</label>


<input class="form-control" id="email" type="text" name="email" value="">
</div>
<div class="form-group">


<div class="multiple-choice multiple-radio">
<input id="benefits" name="incomesingle" value="benefits-income" type="checkbox">
<label for="benefits">I agree and accept this declaration.</label>
</div>

</div>
<div class="form-group">
<a class="button" href="covid-done" role="button">Continue</a>

</div>

</fieldset>
                    </div>
                 </div>


























          </div>



      </div>
  </div>



      </div>
  </div>

</main>

{% endblock %}
