{% extends "layout_bsa.html" %}

{% block page_title %}
  Manage Your Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main" style="max-width: 960px !important; margin: 0 auto !important;">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Manage your service</span>
          Admin Dashboards
          <p class="lede">Head Office &amp; Pharmacy</p>
        </h1>

  
        <h2 class="heading-large">Pharmacy Dashboard</h2>

        <a href="/pharmacy/"><input class="button" type="submit" value="Open"></a>

        <hr>

        <h2 class="heading-large">Head Office Dashboard</h2>

        <a href="/management/"><input class="button" type="submit" value="Open"></a>
  
        <hr>

        <h2 class="heading-large">CPAF Questionnaire</h2>

        <a href="/pharmacy/cpaf-questionnaire/cpafq-start">Iteration 1</a>
        <br><br>
        <a href="/cpafq2/cpafq-start">Iteration 2</a>
        <ul style="list-style: disc; margin-left: 30px;">
          <li>split check your answers</li>
          <li>additional 'change' screen for dispensing section</li>
        </ul>
        <br>
        <a href="/cpafq3/cpafq-start">Iteration 3</a>
        <ul style="list-style: disc; margin-left: 30px;">
            <li>split dispensing section on task list</li>
          </ul>

          <h2 class="heading-large">NSAIDS Audit</h2>

          <a href="/pharmacy/nsaid-start">Iteration 1</a>
          <br><br>
          <a href="/nsaids2/nsaid-start">Iteration 2 - scenario 1</a>
          <ul style="list-style: disc; margin-left: 30px;">
            <li>Audit requirements met</li>
          </ul>
            <br>
          <a href="/nsaids3/nsaid-start">Iteration 2 - scenario 2</a>
          <ul style="list-style: disc; margin-left: 30px;">
            <li>Audit requirements not met</li>
          </ul>  
            <br>
          <a href="/nsaids4/nsaid-start">Iteration 2 - scenario 3</a>
          <ul style="list-style: disc; margin-left: 30px;">
            <li>Maximum patient input reached</li>
          </ul>  
            <br
 ><br><br> </div>

</div>

</main>

{% endblock %}


