{% extends "layout_bsa.html" %}

{% block page_title %}
  Manage Your Service prototype
{% endblock %}

{% block content %}

<main id="content" role="main" style="max-width: 1100px !important; margin: 0 auto !important;">

  <div class="grid-row">

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Manage your service</span>
      Admin Dashboards
      <p class="lede">Multiple contractors</p>
    </h1>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/newdesign/index2">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Pharmacy dashboard</h3>
                      <p class="nhsuk-promo__description">Find all journeys since the start of 2020 in this dashboard</p>
                    </div>
                  </a>
                </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/management/">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Head office dashboard</h3>
                      <p class="nhsuk-promo__description">Find reports, image requests and other head office functions in this dashboard</p>
                    </div>
                  </a>
                </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/pharmacy/index">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Old pharmacy dashboard</h3>
                      <p class="nhsuk-promo__description">Find older journeys (CPCS, PQS 2019/20, CPAF, NSAIDs audit etc) in this dashboard</p>
                    </div>
                  </a>
                </div>
            </div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group">

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/appcontractors/index">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Appliance contractors dashboard</h3>
                      <p class="nhsuk-promo__description">Find Appliance Use Review (AUR) submission in this dashboard</p>
                    </div>
                  </a>
                </div>
            </div>
            
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/newdesign/dms4/dms-referral-details">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">DMS v4</h3>
                      <p class="nhsuk-promo__description">DMS changes 09 August 2022</p>
                    </div>
                  </a>
                </div>
            </div>

            <!--<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/optometry/index">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Optometry dashboard</h3>
                      <p class="nhsuk-promo__description"></p>
                    </div>
                  </a>
                </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="/dispdocs/index">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Dispensing doctors dashboard</h3>
                      <p class="nhsuk-promo__description"></p>
                    </div>
                  </a>
                </div>
            </div>-->
</div>





</main>

{% endblock %}
