{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<script>

// hide postocode look up

  function hidefinder() {
  var x = document.getElementById("postcode-finder");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

// show postcode look up

 function showfinder() {
   var x = document.getElementById("postcode-finder");
   if (x.style.display === "none") {
     x.style.display = "block";
   } else {
     x.style.display = "block";
   }
 }

// show select address section

function showselect() {
var x = document.getElementById("select-address");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "block";
}
}

// hide select address section

function hideselect() {
var x = document.getElementById("select-address");
if (x.style.display === "block") {
  x.style.display = "none";
} else {
  x.style.display = "none";
}
}


// shows manual address entry section

function showmanual() {
var x = document.getElementById("manual-address");
if (x.style.display === "none") {
  x.style.display = "block";
} else {
  x.style.display = "block";
}
}

// hide manual address entry section

function hidemanual() {
var x = document.getElementById("manual-address");
if (x.style.display === "block") {
  x.style.display = "none";
} else {
  x.style.display = "none";
}
}

</script>

<style>

#postcode-finder {
  display: block;
}

#select-address {
  display: none;
}

#manual-address {
  display: none;
}

</style>

<main id="content" role="main">

  <div class="sidebar-layout">
      <div class="sidebar-content">

        <div class="side-nav">
          <ul>
            <li>
              <a href="../index">Dashboard</a>
            </li>
            </ul>
          </div>

      </div>
      <div class="main-content">


                <div class="phase-banner">
                    <p>
                    <strong class="phase-tag">BETA</strong>
                    This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
                    </p>
                  </div>

                  <a href="javascript:history.back()" class="link-back">Back</a>

                <div class="grid-row">
                  <div class="column-two-thirds">

                      <header class="page-header" style="clear: none; display: block;">
                        <p class="page-header--sub heading-secondary">NHS Appliance Use Review Service - November 2020</p>
                          <h1 class="page-header--lede heading-large" style="margin-bottom: 5px;">GP details</h1>
                      </header><br><br>

                <form class="form" action="aur-review" method="get">
                   <fieldset>
                      <div class="form-group">
                         <label for="gp-name">
                         <span class="form-label">Practice name</span>
                         </label>
                         <input class="form-control" type="text" name="gp_name" id="gp-name">
                      </div>
                      <!-- Postcode look up view -->
                      <div id="postcode-finder">
                         <div class="form-group">
                            <fieldset aria-label="GP address">
                               <legend class="heading-small">Address</legend>
                               <div class="form-group">
                                  <label class="form-label" for="gp-postcode-lookup">
                                  <br>Postcode
                                  </label>
                                  <input class="form-control form-control-1-4" name="gp_postcode_lookup" id="gp-postcode-lookup" type="text">
                               </div>
                               <p class="button" style="background-color: #005EA5"onclick="hidefinder(); showselect(); ">Find address</p>
                            </fieldset>
                         </div>
                      </div>

                      <!-- Select an address view -->
                      <div id="select-address">
                         <div class="form-group">
                            <fieldset aria-label="GP address">
                               <legend class="heading-small">Address</legend>
                               <div class="form-group">
                                  <label class="form-label" for="gp-postcode">
                                  <span class="heading-small"><br>Postcode</span>
                                  </label>
                                  <p>NE12 8BD   <a href="javascript: showfinder(); hideselect();">Change</a></p>
                               </div>
                               <p class="heading-small">Select an address</p>
                               <div class="form-group">
                                  <select class="form-control" id="select-box">
                                     <option>34 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                     <option>35 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                     <option>36 Eastfield Road, Newcastle upon Tyne, NE12 8BD</option>
                                  </select>
                               </div>
                               <a href="javascript: hideselect(); showmanual();">Address not listed</a>
                            </fieldset>
                         </div>
                      </div>

                      <!-- Manual address entry view -->
                      <div id="manual-address">
                         <div class="form-group">
                            <fieldset aria-label="Patient address">
                            <legend class="heading-small">Address</legend>
                            <div class="form-group">
                               <label class="form-label" for="gp-line-one">
                               Building and street
                               </label>
                               <input class="form-control" id="lineone" name="gp_line_one" type="text">
                               <input class="form-control" id="linetwo" name="gp_line_two" type="text" style="margin-top: 10px">
                            </div>
                            <div class="form-group">
                               <label class="form-label" for="gp_town">
                               Town or city
                               </label>
                               <input class="form-control" id="gp-town" name="patient_town" type="text">
                            </div>
                            <div class="form-group">
                               <label class="form-label" for="gp-postcode">
                               Postcode
                               </label>
                               <input class="form-control form-control-1-4" name="gp_postcode" id="gp-postcode" type="text">
                            </div>
                            <a href="javascript: hidemanual(); showfinder();">Find address for me</a>
                         </fieldset></div>
                      </div>

                   </fieldset>

                   <div class="form-item-wrapper">
                      <div class="form-group">
                         <input class="button" type="submit" value="Continue">
                      </div>
                   </div>
                 </form>


















                </div>



            </div>
        </div>
  </div>

  <script src="/public/javascripts/details.polyfill.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/application.js"></script>


  <!-- selector -->
  <script src="/public/javascripts/typeahead-aria.js"></script>
  <script src="/public/javascripts/init-autocomplete.js"></script>

  <script>
      sessionStorage.removeItem("q1");
      sessionStorage.removeItem("q2");
      sessionStorage.removeItem("q3");
      sessionStorage.removeItem("q4");
  </script>



</main>

{% endblock %}
